/* Common styles for both mobile and desktop */

@keyframes slowBackgroundAnimation {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

body {
  background-image: url("https://imgur.com/teN40da.gif");

  background-repeat: no-repeat;

  background-color: transparent;

  background-size: contain;

  animation: slowBackgroundAnimation 25s linear infinite;

  background-position: center center;

  margin: 0;

  padding: 0;

  display: flex;

  justify-content: center;

  align-items: center;

  height: 100vh;
}

body::before {
  content: "";

  background-image: url("https://imgur.com/teN40da.gif");

  background-repeat: repeat;

  background-color: transparent;

  background-size: contain;

  background-position: center center;

  filter: blur(1.5px); /* Add a blur effect */

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  z-index: -1; /* Place the pseudo-element behind the content */
}

#poemContainer {
  background: rgba(255, 182, 193, 0.6);

  padding: 20px;

  text-align: center;

  font-weight: 900;

  color: #333;

  font-family: "Lobster Two", cursive;

  font-size: 33px;

  border: transparent;

  box-shadow: 0 4px 8px rgba(255, 105, 180, 0.3);

  max-width: 80%; /* Set a maximum width for the container */

  margin: 0 auto; /* Center the container horizontally */
}

/* Media query for mobile devices */

@media (max-width: 767px) {
  #poemContainer {
    font-size: 24px;
  }
}

/* Media query for larger screens (desktop) */

@media (min-width: 768px) {
  #poemContainer {
    font-size: 33px;
  }
}
